<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img class="itemImage" src="<%= data[i].src %>" alt="Image Item">
        <a href="<%= data[i].link %>">
            <h5>
                <%= data[i].name %>
            </h5>
        </a>
        <p class="priceDisplay"><span class="originalPrice">
                <%= data[i].price.prev %></span><span class="price">
                <%= data[i].price.curr %> </span> <span class="percentOff">
                <%= data[i].price.discount %></span></p>
        <p class="lead">Lorem ipsum, dolor sit amet.</p>
    </div>
</div>